body{
  background-color: #343a40;
}
  h1{
    color : #F0F8FF;
  }

  h3{
    color : #F0F8FF;
  }

  p{
    color : #F0F8FF;
  }
  h5 {
    color : #F0F8FF;
  }

  hr{
    color : #F0F8FF;
  }

  a{
    color :#343a40;
  }
  footer{
    background-color: #F0F8FF;
  }